.round1-2 {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(8, 1fr);
    background-color: var(--cs2-blue);
    height: 200px;
    border-radius: 10px;
    max-width: 1500px;
    margin: 10px auto;
}

h2 {
    font-family: Head;
    margin: 5px;
    text-align: center;
    font-size: 35px;
    font-weight: 350;
}

span {
    font-family: Bread;
}

.all-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid 1px var(--cs2-yellow);
    gap: 2px;
}

.all-matches img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}

.result {
    color: white;
    font-family: Bread;
    font-size: 25px;
}

#round3 {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(8, 1fr);
    background-color: var(--cs2-blue);
    height: 200px;
    border-radius: 10px;
    max-width: 1500px;
    margin: 10px auto;
}

#round4 {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(6, 1fr);
    background-color: var(--cs2-blue);
    height: 200px;
    border-radius: 10px;
    max-width: 1500px;
    margin: 10px auto;
}

#round5 {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    background-color: var(--cs2-blue);
    height: 200px;
    border-radius: 10px;
    max-width: 1500px;
    margin: 10px auto;
}

.round-five-matches img {
    height: 70px;
    width: 70px;
    object-fit: contain;
}

#qualied {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: var(--cs2-blue);
    gap: 10px;
    height: 150px;
    border-radius: 10px;
    max-width: 800px;
    margin: 10px auto;
}

#qualied img {
    height: 80px;
    width: 80px;
    object-fit: contain;
    align-self: center;
    justify-self: center;
}